{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tervetuloa Ostoskeskukseen!{% endblock %}</h1>
  {% if g.user %}
    
  {% endif %}
{% endblock %}

{% block content %}
  {% for shop in shops %}
    <article class="shop">
      <header>
        <div>
          <h1>{{ shop['name'] }}</h1>
          <div class="desciption">{{ shop['description'] }}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
