<!doctype html>
<title>{% block title %}{% endblock %} - Ostoskeskus</title>
<link rel="stylesheet" href="{{ url_for('static', filename='ostoskeskus.css') }}">
<nav>
  <h1><a href="/">Ostoskeskus</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user["firstname"] }}</span></li>
      <li><a href="{{ url_for('auth.logout') }}">Kirjaudu ulos</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Rekisteröidy</a>
      <li><a href="{{ url_for('auth.login') }}">Kirjaudu sisään</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
